<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <div class="top-actions">
        <a href="/blogs" class="back"
          ><button class="button--secondary" type="button">Back</button></a
        >
        <div class="details-buttons-container">
          <a href="/blogs/<%= blog._id %>/edit"
            ><button type="button">Edit</button></a
          >
          <button
            data-doc="<%= blog._id %>"
            type="button"
            class="button--danger"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="details">
        <h2><%= blog.title %></h2>
        <div class="created-at">
          <p class="created-at-time">
            <%= blog.createdAt.toLocaleTimeString() %>
          </p>
          <p class="created-at-date">
            <%= blog.createdAt.toLocaleDateString() %>
          </p>
        </div>
        <div>
          <p class="blog-body"><%= blog.body %></p>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
    <script>
      const deleteBtn = document.querySelector(".delete")
      deleteBtn.addEventListener("click", async (e) => {
        const id = e.target.getAttribute("data-doc")
        try {
          const res = await fetch(`/blogs/${id}`, {
            method: "DELETE",
          })
          if (!res.ok) {
            throw new Error("Error deleting the blog")
          }
          const data = await res.json()
          window.location.replace(data.redirect)
        } catch (err) {
          console.log(err)
        }
      })
    </script>
  </body>
</html>
