<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <div class="blogs content">
        <h2>Recent Blogs</h2>
        <% if (blogs.length) { %>
        <ul>
          <% blogs.forEach((blog) => { %>
          <a href="/blogs/<%= blog._id %>">
            <li>
              <h3 class="title"><%= blog.title %></h3>
              <p class="snippet"><%= blog.snippet %></p>
            </li>
          </a>
          <% }); %>
        </ul>
        <% } else { %>
        <p>No blogs found.</p>
        <% } %>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
